body {
    background: white;

}

.navbar {
     width: 100%;
     height: 70px;

     position: fixed;

 }

/* sidebar styles */
.sidebar {
    width: 220px;
    background:#212928;
    height: 100%;
    position: fixed;
    margin-top: 70px;
    padding-top: 30px;
}

.sidebar a {
    display: block;
    width: 100%;
    
    padding: 15px 45px;
    text-decoration: none;
    color: white;
    font-size: 15px;

}

.sidebar a:hover {
    background: #7d4848;
    
}

.sidebar .divider {
    height: .5px;
    width: 100%;
    background: #e2e2e2;
    margin-top: 10px;
}
.content {
    margin-top: 0%;


}

.sidebar .crossBtn {
    position: absolute;
    top: 0;
    right: 35px;
    font-size: 36px;
    cursor:pointer;
    color: white;
}