<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{base :: imports}"></div>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <!--    Datatables-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
</head>

<body>
<script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });


</script>
<!-- replace navigation sidebar and top bar from template -->
<div th:replace="~{base :: navigation}"></div>

<div role="main" class="align-items-center justify-content-center"
     style="margin-left: 241px; margin-top: 0px; margin-right: 20px;">
    <H2 style="margin-top: 0px;">_</H2>

    <!-- Short pill shaped container with title-->
    <div
            style="background-color: white; border: solid #e9e9e9 1px;
            border-radius: 12px; margin-top: 48px;  width: 305px; margin-bottom: 15px; font-family: 'Varela Round', sans-serif; ">
        <h2 style="color: 343a40;  margin-top: 12px; margin-left: 15px; font-size:35px;">Project <b>details</b>
        </h2>
        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#projectAddModal"
                style="border: solid #343a40 1.5px; border-radius: 10px;margin-top: 2px; margin-bottom: 12px; margin-left: 17px;">
            <i class="bi bi-node-plus"></i> Add
            New
        </button>
        <span style="margin-top: 5px; margin-left: 18px; color: 343a40;"><b>Selected project</b></span>
    </div> <!-- END Short pill shaped container with title-->

    <!-- START  TITLE CARD -->
    <div class="card" style="border: solid #e6e6e6 1px; border-radius: 12px; margin-bottom: 15px;">
        <!--margin div start -->
        <div style="margin: 23px; ">
            <!-- Table title and add new BTN -->
            <div class="row">
                <div class="col-md-6 text-center">
                        <span class="float-md-left">
                            <h2>Selected project page</h2>
                        </span>
                </div>
            </div> <!-- END Table title and add new -->
        </div>
        <!--margin div end -->
    </div> <!-- END TITLE CARD  -->

    <div class="row">
        <div class="col col-lg-7">
            <!-- START big main container -->
            <div class="card" style="border: solid black 0px; border-radius: 12px; margin-bottom: 15px;">
                <!--margin div start -->
                <div style="margin: 23px; ">
                    <!-- Table title and add new BTN -->
                    <div class="row">
                        <div class="col-md-6 text-center">
                                <span class="float-md-left">
                                    <h2>Tickets</h2>
                                </span>
                        </div>

                        <div class="col-md-6 text-center">
                                <span class="float-md-right">
                                    <button type="button" class="btn btn-dark" data-toggle="modal"
                                            data-target="#projectAddModal"
                                            style="border: solid #343a40 0.5px; border-radius: 5px; padding-top: 12px; padding-bottom: 12px; ">
                                        Add New Ticket
                                    </button>
                                </span>
                        </div>

                        <span class="col-md-6" style="margin-left:5px;">
                                <h6 class="text-monospace"><small>List of tickets assigned to selected project</small>
                                </h6>
                            </span>
                    </div> <!-- END Table title and add new -->
                    <hr style="margin-top:6px;margin-bottom:6px;">

                    <!--                    <hr style="margin-top:6px;margin-bottom:6px;">-->

                    <table class="table table-curved overflow-hidden table-hover table align-middle"
                           style="border: solid #ccc 0.5px; border-radius: 5px;  background-color: #ffffff; ">
                        <thead>
                        <tr class="text-left">
                            <th class="text-center">
                                <h6><b>#</b></h6>
                            </th>
                            <th>
                                <h6><b>Ticket Name</b></h6>
                            </th>
                            <th>
                                <h6><b>Ticket Description</b></h6>
                            </th>
                            <!--                    <th>Created on</th>-->
                            <!--                    <th>Completed on</th>-->
                            <th class="text-right">
                                <h6><b>Options</b></h6>
                            </th>

                        </tr>
                        </thead>

                        <tr class="text-left" th:each="project:${projects}">
                            <td class="text-center" th:text="${project.id}" style="width: 2%">id</td>
                            <td th:text="${project.name}" style="width: 10%">Name</td>
                            <td th:text="${project.description}" style="width: 35%">Project Description</td>

                            <td class="text-right" style="width: 10%;">
                                <a th:href="@{/projects/getOne/(Id=${project.id})}" class="btn btn-warning btn-sm"
                                   id="projectsEditButton">
                                    <i class="far fa-edit" data-toggle="tooltip" title="Edit"></i>
                                </a>

                                <a th:href="@{/projects/getOne/(Id=${project.id})}" class="btn btn-secondary btn-sm"
                                   id="projectsViewButton">
                                    <i class="fas fa-eye" data-toggle="tooltip" title="Delete"></i>
                                </a>

                                <a th:href="@{/projects/delete/(Id=${project.id})}" class="btn btn-danger btn-sm"
                                   id="projectsDeleteButton">
                                    <i class="fas fa-ban" data-toggle="tooltip" title="Delete"></i>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div> <!-- END TICKETS TABLE  col -->

        <!-- smaller second col -->
        <div class="col-lg-5 clearfix">
            <div class="card " style="border: solid black 0px; border-radius: 12px; margin-bottom: 15px;">
                <div style="margin: 23px; ">
                    <div class="row">
                        <div class="col-md-6 text-center">
                                <span class="float-md-left">
                                    <h2>Members</h2>
                                </span>
                        </div>
                        <div class="col-md-6 text-center">
                                <span class="float-md-right">
                                    <button type="button" class="btn btn-dark" data-toggle="modal"
                                            data-target="#projectAddModal"
                                            style="border: solid #343a40 0.5px; border-radius: 5px; padding-top: 12px; padding-bottom: 12px; ">
                                        Add New member
                                    </button>
                                </span>
                        </div>
                    </div>

                    <hr style="margin-top:6px;margin-bottom:6px;">

                    <table class="table table-curved overflow-hidden table-hover table align-middle"
                           style="border: solid #ccc 0.5px; border-radius: 5px;  background-color: #ffffff; ">
                        <thead class="thead-dark">
                        <tr class="text-left">
                            <th class="text-center">#</th>
                            <th>Name</th>
                            <th>Email</th>
                        </tr>
                        </thead>
                        <tr class="text-left" th:each="user:${usersInList}">
                            <td class="text-center" th:text="${user.id}" style="width: 2%">id</td>
                            <td th:text="${user.firstname}">Name</td>
                            <td th:text="${user.email}" style="width: 45%">Email</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div> <!-- END row -->

    <!-- START UNDER main container -->
    <div style="background-color: white; border: solid #e9e9e9 1px;
            border-radius: 12px; margin-bottom: 15px; margin-right: 0px; font-family: 'Varela Round', sans-serif; ">

        <div style="margin: 23px;">
            <div class="row">
                <div class="col-md-6 text-center">
                        <span class="float-md-left">
                            <h4>Ticket information</h4>
                        </span>
                </div>
                <div class="col-md-6 text-center">
                        <span class="float-md-right">

                        </span>
                </div>
            </div>
            <hr style="margin-top:6px;margin-bottom:6px;">
            <table class="table table-curved overflow-hidden table-hover table align-middle"
                   style="border: solid #ccc 0.5px; border-radius: 5px;  background-color: #ffffff; ">
                <thead>
                <tr class="text-center">
                    <th>#</th>
                    <th>Ticket Name</th>
                    <th>Project Description</th>

                </tr>
                </thead>

                <tr class="text-center" th:each="ticket:${ticketsInList}">
                    <td th:text="${ticket.id}" style="width: 1%">id</td>
                    <td th:text="${ticket.title}" style="width: 15%">Title</td>
                    <td th:text="${ticket.description}" style="width: 15%">Description</td>
                </tr>
            </table>
        </div>
    </div> <!-- END 2nd main container -->

    <div class="card" style="border: solid #e6e6e6 1px; border-radius: 12px; margin-bottom: 15px;">
        <div style="margin: 23px; ">
            <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0"
                   width="100%">
                <thead>
                <tr>
                    <th class="th-sm">Name

                    </th>
                    <th class="th-sm">Position

                    </th>
                    <th class="th-sm">Office

                    </th>
                    <th class="th-sm">Age

                    </th>
                    <th class="th-sm">Start date

                    </th>
                    <th class="th-sm">Salary

                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Tiger Nixon</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>61</td>
                    <td>2011/04/25</td>
                    <td>$320,800</td>
                </tr>
                <tr>
                    <td>Garrett Winters</td>
                    <td>Accountant</td>
                    <td>Tokyo</td>
                    <td>63</td>
                    <td>2011/07/25</td>
                    <td>$170,750</td>
                </tr>
                <tr>
                    <td>Ashton Cox</td>
                    <td>Junior Technical Author</td>
                    <td>San Francisco</td>
                    <td>66</td>
                    <td>2009/01/12</td>
                    <td>$86,000</td>
                </tr>
                <tr>
                    <td>Cedric Kelly</td>
                    <td>Senior Javascript Developer</td>
                    <td>Edinburgh</td>
                    <td>22</td>
                    <td>2012/03/29</td>
                    <td>$433,060</td>
                </tr>
                <tr>
                    <td>Airi Satou</td>
                    <td>Accountant</td>
                    <td>Tokyo</td>
                    <td>33</td>
                    <td>2008/11/28</td>
                    <td>$162,700</td>
                </tr>
                <tr>
                    <td>Brielle Williamson</td>
                    <td>Integration Specialist</td>
                    <td>New York</td>
                    <td>61</td>
                    <td>2012/12/02</td>
                    <td>$372,000</td>
                </tr>
                <tr>
                    <td>Herrod Chandler</td>
                    <td>Sales Assistant</td>
                    <td>San Francisco</td>
                    <td>59</td>
                    <td>2012/08/06</td>
                    <td>$137,500</td>
                </tr>
                <tr>
                    <td>Rhona Davidson</td>
                    <td>Integration Specialist</td>
                    <td>Tokyo</td>
                    <td>55</td>
                    <td>2010/10/14</td>
                    <td>$327,900</td>
                </tr>
                <tr>
                    <td>Colleen Hurst</td>
                    <td>Javascript Developer</td>
                    <td>San Francisco</td>
                    <td>39</td>
                    <td>2009/09/15</td>
                    <td>$205,500</td>
                </tr>
                <tr>
                    <td>Sonya Frost</td>
                    <td>Software Engineer</td>
                    <td>Edinburgh</td>
                    <td>23</td>
                    <td>2008/12/13</td>
                    <td>$103,600</td>
                </tr>
                <tr>
                    <td>Jena Gaines</td>
                    <td>Office Manager</td>
                    <td>London</td>
                    <td>30</td>
                    <td>2008/12/19</td>
                    <td>$90,560</td>
                </tr>
                <tr>
                    <td>Quinn Flynn</td>
                    <td>Support Lead</td>
                    <td>Edinburgh</td>
                    <td>22</td>
                    <td>2013/03/03</td>
                    <td>$342,000</td>
                </tr>
                <tr>
                    <td>Charde Marshall</td>
                    <td>Regional Director</td>
                    <td>San Francisco</td>
                    <td>36</td>
                    <td>2008/10/16</td>
                    <td>$470,600</td>
                </tr>
                <tr>
                    <td>Haley Kennedy</td>
                    <td>Senior Marketing Designer</td>
                    <td>London</td>
                    <td>43</td>
                    <td>2012/12/18</td>
                    <td>$313,500</td>
                </tr>
                <tr>
                    <td>Tatyana Fitzpatrick</td>
                    <td>Regional Director</td>
                    <td>London</td>
                    <td>19</td>
                    <td>2010/03/17</td>
                    <td>$385,750</td>
                </tr>
                <tr>
                    <td>Michael Silva</td>
                    <td>Marketing Designer</td>
                    <td>London</td>
                    <td>66</td>
                    <td>2012/11/27</td>
                    <td>$198,500</td>
                </tr>
                <tr>
                    <td>Paul Byrd</td>
                    <td>Chief Financial Officer (CFO)</td>
                    <td>New York</td>
                    <td>64</td>
                    <td>2010/06/09</td>
                    <td>$725,000</td>
                </tr>
                <tr>
                    <td>Gloria Little</td>
                    <td>Systems Administrator</td>
                    <td>New York</td>
                    <td>59</td>
                    <td>2009/04/10</td>
                    <td>$237,500</td>
                </tr>
                <tr>
                    <td>Bradley Greer</td>
                    <td>Software Engineer</td>
                    <td>London</td>
                    <td>41</td>
                    <td>2012/10/13</td>
                    <td>$132,000</td>
                </tr>
                <tr>
                    <td>Dai Rios</td>
                    <td>Personnel Lead</td>
                    <td>Edinburgh</td>
                    <td>35</td>
                    <td>2012/09/26</td>
                    <td>$217,500</td>
                </tr>
                <tr>
                    <td>Jenette Caldwell</td>
                    <td>Development Lead</td>
                    <td>New York</td>
                    <td>30</td>
                    <td>2011/09/03</td>
                    <td>$345,000</td>
                </tr>
                <tr>
                    <td>Yuri Berry</td>
                    <td>Chief Marketing Officer (CMO)</td>
                    <td>New York</td>
                    <td>40</td>
                    <td>2009/06/25</td>
                    <td>$675,000</td>
                </tr>
                <tr>
                    <td>Caesar Vance</td>
                    <td>Pre-Sales Support</td>
                    <td>New York</td>
                    <td>21</td>
                    <td>2011/12/12</td>
                    <td>$106,450</td>
                </tr>
                <tr>
                    <td>Doris Wilder</td>
                    <td>Sales Assistant</td>
                    <td>Sidney</td>
                    <td>23</td>
                    <td>2010/09/20</td>
                    <td>$85,600</td>
                </tr>
                <tr>
                    <td>Angelica Ramos</td>
                    <td>Chief Executive Officer (CEO)</td>
                    <td>London</td>
                    <td>47</td>
                    <td>2009/10/09</td>
                    <td>$1,200,000</td>
                </tr>
                <tr>
                    <td>Gavin Joyce</td>
                    <td>Developer</td>
                    <td>Edinburgh</td>
                    <td>42</td>
                    <td>2010/12/22</td>
                    <td>$92,575</td>
                </tr>
                <tr>
                    <td>Jennifer Chang</td>
                    <td>Regional Director</td>
                    <td>Singapore</td>
                    <td>28</td>
                    <td>2010/11/14</td>
                    <td>$357,650</td>
                </tr>
                <tr>
                    <td>Brenden Wagner</td>
                    <td>Software Engineer</td>
                    <td>San Francisco</td>
                    <td>28</td>
                    <td>2011/06/07</td>
                    <td>$206,850</td>
                </tr>
                <tr>
                    <td>Fiona Green</td>
                    <td>Chief Operating Officer (COO)</td>
                    <td>San Francisco</td>
                    <td>48</td>
                    <td>2010/03/11</td>
                    <td>$850,000</td>
                </tr>
                <tr>
                    <td>Shou Itou</td>
                    <td>Regional Marketing</td>
                    <td>Tokyo</td>
                    <td>20</td>
                    <td>2011/08/14</td>
                    <td>$163,000</td>
                </tr>
                <tr>
                    <td>Michelle House</td>
                    <td>Integration Specialist</td>
                    <td>Sidney</td>
                    <td>37</td>
                    <td>2011/06/02</td>
                    <td>$95,400</td>
                </tr>
                <tr>
                    <td>Suki Burks</td>
                    <td>Developer</td>
                    <td>London</td>
                    <td>53</td>
                    <td>2009/10/22</td>
                    <td>$114,500</td>
                </tr>
                <tr>
                    <td>Prescott Bartlett</td>
                    <td>Technical Author</td>
                    <td>London</td>
                    <td>27</td>
                    <td>2011/05/07</td>
                    <td>$145,000</td>
                </tr>
                <tr>
                    <td>Gavin Cortez</td>
                    <td>Team Leader</td>
                    <td>San Francisco</td>
                    <td>22</td>
                    <td>2008/10/26</td>
                    <td>$235,500</td>
                </tr>
                <tr>
                    <td>Martena Mccray</td>
                    <td>Post-Sales support</td>
                    <td>Edinburgh</td>
                    <td>46</td>
                    <td>2011/03/09</td>
                    <td>$324,050</td>
                </tr>
                <tr>
                    <td>Unity Butler</td>
                    <td>Marketing Designer</td>
                    <td>San Francisco</td>
                    <td>47</td>
                    <td>2009/12/09</td>
                    <td>$85,675</td>
                </tr>
                <tr>
                    <td>Howard Hatfield</td>
                    <td>Office Manager</td>
                    <td>San Francisco</td>
                    <td>51</td>
                    <td>2008/12/16</td>
                    <td>$164,500</td>
                </tr>
                <tr>
                    <td>Hope Fuentes</td>
                    <td>Secretary</td>
                    <td>San Francisco</td>
                    <td>41</td>
                    <td>2010/02/12</td>
                    <td>$109,850</td>
                </tr>
                <tr>
                    <td>Vivian Harrell</td>
                    <td>Financial Controller</td>
                    <td>San Francisco</td>
                    <td>62</td>
                    <td>2009/02/14</td>
                    <td>$452,500</td>
                </tr>
                <tr>
                    <td>Timothy Mooney</td>
                    <td>Office Manager</td>
                    <td>London</td>
                    <td>37</td>
                    <td>2008/12/11</td>
                    <td>$136,200</td>
                </tr>
                <tr>
                    <td>Jackson Bradshaw</td>
                    <td>Director</td>
                    <td>New York</td>
                    <td>65</td>
                    <td>2008/09/26</td>
                    <td>$645,750</td>
                </tr>
                <tr>
                    <td>Olivia Liang</td>
                    <td>Support Engineer</td>
                    <td>Singapore</td>
                    <td>64</td>
                    <td>2011/02/03</td>
                    <td>$234,500</td>
                </tr>
                <tr>
                    <td>Bruno Nash</td>
                    <td>Software Engineer</td>
                    <td>London</td>
                    <td>38</td>
                    <td>2011/05/03</td>
                    <td>$163,500</td>
                </tr>
                <tr>
                    <td>Sakura Yamamoto</td>
                    <td>Support Engineer</td>
                    <td>Tokyo</td>
                    <td>37</td>
                    <td>2009/08/19</td>
                    <td>$139,575</td>
                </tr>
                <tr>
                    <td>Thor Walton</td>
                    <td>Developer</td>
                    <td>New York</td>
                    <td>61</td>
                    <td>2013/08/11</td>
                    <td>$98,540</td>
                </tr>
                <tr>
                    <td>Finn Camacho</td>
                    <td>Support Engineer</td>
                    <td>San Francisco</td>
                    <td>47</td>
                    <td>2009/07/07</td>
                    <td>$87,500</td>
                </tr>
                <tr>
                    <td>Serge Baldwin</td>
                    <td>Data Coordinator</td>
                    <td>Singapore</td>
                    <td>64</td>
                    <td>2012/04/09</td>
                    <td>$138,575</td>
                </tr>
                <tr>
                    <td>Zenaida Frank</td>
                    <td>Software Engineer</td>
                    <td>New York</td>
                    <td>63</td>
                    <td>2010/01/04</td>
                    <td>$125,250</td>
                </tr>
                <tr>
                    <td>Zorita Serrano</td>
                    <td>Software Engineer</td>
                    <td>San Francisco</td>
                    <td>56</td>
                    <td>2012/06/01</td>
                    <td>$115,000</td>
                </tr>
                <tr>
                    <td>Jennifer Acosta</td>
                    <td>Junior Javascript Developer</td>
                    <td>Edinburgh</td>
                    <td>43</td>
                    <td>2013/02/01</td>
                    <td>$75,650</td>
                </tr>
                <tr>
                    <td>Cara Stevens</td>
                    <td>Sales Assistant</td>
                    <td>New York</td>
                    <td>46</td>
                    <td>2011/12/06</td>
                    <td>$145,600</td>
                </tr>
                <tr>
                    <td>Hermione Butler</td>
                    <td>Regional Director</td>
                    <td>London</td>
                    <td>47</td>
                    <td>2011/03/21</td>
                    <td>$356,250</td>
                </tr>
                <tr>
                    <td>Lael Greer</td>
                    <td>Systems Administrator</td>
                    <td>London</td>
                    <td>21</td>
                    <td>2009/02/27</td>
                    <td>$103,500</td>
                </tr>
                <tr>
                    <td>Jonas Alexander</td>
                    <td>Developer</td>
                    <td>San Francisco</td>
                    <td>30</td>
                    <td>2010/07/14</td>
                    <td>$86,500</td>
                </tr>
                <tr>
                    <td>Shad Decker</td>
                    <td>Regional Director</td>
                    <td>Edinburgh</td>
                    <td>51</td>
                    <td>2008/11/13</td>
                    <td>$183,000</td>
                </tr>
                <tr>
                    <td>Michael Bruce</td>
                    <td>Javascript Developer</td>
                    <td>Singapore</td>
                    <td>29</td>
                    <td>2011/06/27</td>
                    <td>$183,000</td>
                </tr>
                <tr>
                    <td>Donna Snider</td>
                    <td>Customer Support</td>
                    <td>New York</td>
                    <td>27</td>
                    <td>2011/01/25</td>
                    <td>$112,000</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th>Name
                    </th>
                    <th>Position
                    </th>
                    <th>Office
                    </th>
                    <th>Age
                    </th>
                    <th>Start date
                    </th>
                    <th>Salary
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <!--END-->


    <div class="row row-cols-2 g-3">
        <div class="col">
            <div class="card">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img-top"
                     alt="Hollywood Sign on The Hill"/>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp" class="card-img-top"
                     alt="Palm Springs Road"/>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/043.webp" class="card-img-top"
                     alt="Los Angeles Skyscrapers"/>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top"
                     alt="Skyscrapers"/>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        This is a longer card with supporting text below as a natural lead-in to
                        additional content.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- ALL MODALS BELOW -->
    <div class="modal fade" id="projectAddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <form th:action="@{/projects/addNew}" method="post">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">New Project</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="project-add-id" class="col-form-label">Id:</label>
                            <input type="text" class="form-control" id="project-add-id" name="Id">
                        </div>

                        <div class="form-group">
                            <label for="project-add-name" class="col-form-label">Project name:</label>
                            <input type="text" class="form-control" id="project-add-name" name="name">
                        </div>

                        <div class="form-group">
                            <label for="project-add-description" class="col-form-label">Project
                                Description:</label>
                            <textarea type="text" class="form-control" id="project-add-description" rows="3"
                                      name="description"></textarea>
                        </div>

                        <!--                        <div class="form-group">-->
                        <!--                            <label for="project-add-createdOn" class="col-form-label">Created on:</label>-->
                        <!--                            <input type="text" class="form-control" id="project-add-createdOn" name="createdOn">-->
                        <!--                        </div>-->

                        <!--                        <div class="form-group">-->
                        <!--                            <label for="project-add-finishDate" class="col-form-label">Completed on:</label>-->
                        <!--                            <input type="text" class="form-control" id="project-add-finishDate" name="finishDate">-->
                        <!--                        </div>-->

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add project</button>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <div class="modal fade" id="projectEditModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
         aria-hidden="true">
        <form th:action="@{/projects/update}" method="put">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel">Edit Project</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="project-edit-id" class="col-form-label">Id:</label>
                            <input type="text" class="form-control" id="project-edit-id" name="Id">
                        </div>

                        <div class="form-group">
                            <label for="project-edit-name" class="col-form-label">Project name:</label>
                            <input type="text" class="form-control" id="project-edit-name" name="name">
                        </div>

                        <div class="form-group">
                            <label for="project-edit-description" class="col-form-label">Project
                                description:</label>
                            <textarea type="text" class="form-control" id="project-edit-description" rows="3"
                                      name="description"></textarea>
                        </div>

                        <!--                        <div class="form-group">-->
                        <!--                            <label for="project-edit-createdOn" class="col-form-label">Created on:</label>-->
                        <!--                            <input type="text" class="form-control" id="project-edit-createdOn" name="createdOn">-->
                        <!--                        </div>-->

                        <!--                        <div class="form-group">-->
                        <!--                            <label for="project-edit-finishDate" class="col-form-label">Finished on:</label>-->
                        <!--                            <input type="text" class="form-control" id="project-edit-finishDate" name="finishDate">-->
                        <!--                        </div>-->

                        <label>Assign available members to project</label>
                        <select class="custom-select" id="listSelect" multiple>
                            <option disabled>Select a ticket</option>
                            <option th:each="ticket : ${ticketsInList}" th:value="${ticket}"
                                    th:text="${ticket.title}"></option>
                        </select>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="projectDeleteModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this record?</p>
                </div>
                <div class="modal-footer">
                    <a href="" class="btn btn-primary" id="projectDelRef">Confirm delete project</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div> <!--    main container-->

</body>

</html>