<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{base :: imports}"></div>

    <!-- Load custom js, css files -->
    <script th:src="@{/js/projectScript.js}"></script>

    <!-- Datatables-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/tableSort.css}">

    <title>Project edit page</title>
</head>

<body>

<!--add navigation sidebar and top bar-->
<div th:replace="~{base :: navigation}"></div>


<h1>test</h1>

</body>

</html>