<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{base :: imports}"></div>

    <!-- Load custom js, css files -->
    <script th:src="@{/js/projectScript.js}"></script>

    <title>Projects page</title>
</head>

<body>

<!-- replace navigation sidebar and top bar from template -->
<div th:replace="~{base :: navigation}"></div>

<div role="main" class="align-items-center justify-content-center" style="margin-left: 245px; margin-top: 0px;">
    <H2 style="margin-top: 0px;">_</H2>

    <!-- Short pill shaped container with title-->
    <div
            style="background-color: white; border: solid #e9e9e9 1px;
            border-radius: 12px; margin-top: 57px;  width: 305px; margin-bottom: 25px; margin-right: 20px; font-family: 'Varela Round', sans-serif; ">
        <h2 style="color: 343a40;  margin-top: 12px; margin-left: 15px; font-size:35px;">Projects <b>details</b>
        </h2>
        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#projectAddModal"
                style="border: solid #343a40 1.5px; border-radius: 10px;margin-top: 2px; margin-bottom: 12px; margin-left: 17px;">
            <i class="bi bi-node-plus"></i> Add
            New
        </button>
        <span style="margin-top: 5px; margin-left: 18px; color: 343a40;"><b>Overview page</b></span>
    </div> <!-- END Short pill shaped container with title-->

    <!-- START big main container -->
    <div style="background-color: white; border: solid #e9e9e9 1px;
            border-radius: 12px; margin-top: 22px;   margin-bottom: 25px; margin-right: 20px; font-family: 'Varela Round', sans-serif; ">
        <!--margin div start -->
        <div style="margin: 23px;">
            <div class="row">
                <div class="col-md-6 text-center">
                            <span class="float-md-left">
                                <h4>List of projects</h4>
                            </span>
                </div>
                <div class="col-md-6 text-center">
                            <span class="float-md-right">
                                <button type="button" class="btn btn-dark" data-toggle="modal"
                                        data-target="#projectAddModal"
                                        style="border: solid #343a40 0.5px; border-radius: 5px; padding-top: 12px; padding-bottom: 12px; ">
                                    Add New Project
                                </button>
                            </span>
                </div>
            </div>

            <hr style="margin-top:6px;margin-bottom:6px;">

            <table class="table table-curved overflow-hidden table-hover table align-middle"
                   style="border: solid #ccc 0.5px; border-radius: 5px;  background-color: #ffffff; ">
                <thead class="thead-dark">
                <tr class="text-center">
                    <th>#</th>
                    <th>Project Name</th>
                    <th>Project Description</th>
                    <th>Created on</th>
                    <th>Completed on</th>
                    <th>Options</th>

                </tr>
                </thead>

                <tr class="text-center" th:each="project:${projects}">
                    <td th:text="${project.id}" style="width: 1%">id</td>
                    <td th:text="${project.name}" style="width: 15%">Project name</td>
                    <td th:text="${project.description}" style="width: 15%">Project Description</td>
                    <td th:text="${project.createdOn}" style="width: 15%">Created on</td>
                    <td th:text="${project.finishDate}" style="width: 15%">Completed on</td>
                    <td style="width: 9%;">
                        <a th:href="@{/projects/getOne/(Id=${project.id})}" class="btn btn-warning btn-sm"
                           id="projectsEditButton">
                            <i class="far fa-edit" data-toggle="tooltip" title="Edit"></i>
                        </a>

                        <a th:href="@{/projects/delete/(Id=${project.id})}" class="btn btn-secondary btn-sm"
                           id="projectsViewButton">
                            <i class="fas fa-eye" data-toggle="tooltip" title="Delete"></i>
                        </a>

                        <a th:href="@{/projects/delete/(Id=${project.id})}" class="btn btn-danger btn-sm"
                           id="projectsDeleteButton">
                            <i class="fas fa-ban" data-toggle="tooltip" title="Delete"></i>
                        </a>
                    </td>
                </tr>
            </table>


        </div> <!--margin div end -->
    </div> <!-- END big main container -->

    <!-- START 2nd main container -->
    <div style="background-color: white; border: solid #e9e9e9 1px;
            border-radius: 12px; margin-top: 22px;   margin-bottom: 25px; margin-right: 20px; font-family: 'Varela Round', sans-serif; ">

        <div style="margin: 23px;">
            <div class="row">
                <div class="col-md-6 text-center">
                            <span class="float-md-left">
                                <h4>List of tickets</h4>
                            </span>
                </div>
                <div class="col-md-6 text-center">
                            <span class="float-md-right">

                            </span>
                </div>
            </div>
            <hr style="margin-top:6px;margin-bottom:6px;">
            <table class="table table-curved overflow-hidden table-hover table align-middle"
                   style="border: solid #ccc 0.5px; border-radius: 5px;  background-color: #ffffff; ">
                <thead class="thead-dark">
                <tr class="text-center">
                    <th>#</th>
                    <th>Ticket Name</th>
                    <th>Project Description</th>

                </tr>
                </thead>

                <tr class="text-center" th:each="ticket:${ticketsInList}">
                    <td th:text="${ticket.id}" style="width: 1%">id</td>
                    <td th:text="${ticket.title}" style="width: 15%">Title</td>
                    <td th:text="${ticket.description}" style="width: 15%">Description</td>
                </tr>
            </table>
        </div>
    </div> <!-- END 2nd main container -->

    <div class="card mr-4" style="border: solid #e6e6e6 1px; border-radius: 12px; margin-top: 22px;">
        <div style="margin: 31px;">
            <ul class="list-group">
                <h2>Assigned tickets</h2>
                <hr>
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">And a fifth one</li>
            </ul>
        </div>
    </div>


    <!-- ALL MODALS BELOW -->
    <div class="modal fade" id="projectAddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <form th:action="@{/projects/addNew}" method="post">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">New Project</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                            <div class="form-group">
                                <label for="project-add-id" class="col-form-label">Id:</label>
                                <input type="text" class="form-control" id="project-add-id" name="Id">
                            </div>

                            <div class="form-group">
                                <label for="project-add-name" class="col-form-label">Project name:</label>
                                <input type="text" class="form-control" id="project-add-name" name="name">
                            </div>

                            <div class="form-group">
                                <label for="project-add-description" class="col-form-label">Project
                                    Description:</label>
                                <input type="text" class="form-control" id="project-add-description" name="description">
                            </div>

                            <div class="form-group">
                                <label for="project-add-createdOn" class="col-form-label">Created on:</label>
                                <input type="text" class="form-control" id="project-add-createdOn" name="createdOn">
                            </div>

                            <div class="form-group">
                                <label for="project-add-finishDate" class="col-form-label">Completed on:</label>
                                <input type="text" class="form-control" id="project-add-finishDate" name="finishDate">
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add project</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>


    <div class="modal fade" id="projectEditModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
         aria-hidden="true">
        <form th:action="@{/projects/update}" method="put">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel">Edit Project</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                            <div class="form-group">
                                <label for="project-edit-id" class="col-form-label">Id:</label>
                                <input type="text" class="form-control" id="project-edit-id" name="Id">
                            </div>

                            <div class="form-group">
                                <label for="project-edit-name" class="col-form-label">Project name:</label>
                                <input type="text" class="form-control" id="project-edit-name" name="name">
                            </div>

                            <div class="form-group">
                                <label for="project-edit-description" class="col-form-label">Project
                                    description:</label>
                                <input type="text" class="form-control" id="project-edit-description"
                                       name="description">
                            </div>

                            <div class="form-group">
                                <label for="project-edit-createdOn" class="col-form-label">Project title:</label>
                                <input type="text" class="form-control" id="project-edit-createdOn" name="createdOn">
                            </div>

                            <div class="form-group">
                                <label for="project-edit-finishDate" class="col-form-label">Project
                                    description:</label>
                                <input type="text" class="form-control" id="project-edit-finishDate" name="finishDate">
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="modal" tabindex="-1" role="dialog" id="projectDeleteModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirm delete</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this record?</p>
                    </div>
                    <div class="modal-footer">
                        <a href="" class="btn btn-primary" id="projectDelRef">Confirm delete project</a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
</div> <!--    main container-->
</body>

</html>