<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{base :: imports}"></div>

    <!-- Load custom js, css files -->
    <script th:src="@{/js/projectScript.js}"></script>

    <!-- Datatables-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/tableSort.css}">

    <title>Selected Project</title>

    <style>
        table#ticketsDataTable.dataTable tbody tr.highlight {
            background-color: cornflowerblue !important;
        }
    </style>
</head>

<body>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
            $('#membersDataTable').DataTable();
            $('#ticketsDataTable').DataTable();

            $('#ticketsDataTable tbody').on('click', 'tr', function () {
                var ticket_title = $(this).find('td:eq(0)').text();
                var ticket_description = $(this).find('td:eq(1)').text();
                var ticket_status = $(this).find('td:eq(2)').text();
                var ticket_type = $(this).find('td:eq(3)').text();
                var ticket_priority = $(this).find('td:eq(4)').text();

                $('#txtTitle').val(ticket_title);
                $('#txtDescription').val(ticket_description);
                $('#txtStatus').val(ticket_status);
                $('#txtType').val(ticket_type);
                $('#txtPriority').val(ticket_priority);

                $('#ticketsDataTable tbody > tr').removeClass('highlight');
                $(this).addClass('highlight');
            });
        });


    </script>
    <!-- replace navigation sidebar and top bar from template -->
    <div th:replace="~{base :: navigation}"></div>

    <div role="main" class="align-items-center justify-content-center"
        style="margin-left: 241px; margin-top: 0px; margin-right: 20px;">
        <H2 style="margin-top: 0px;">_</H2>

        <!--    &lt;!&ndash; START  TITLE CARD &ndash;&gt;-->
        <!--    <div class="card" style="border: solid #e6e6e6 1px; border-radius: 12px; margin-bottom: 15px; margin-top:48px;">-->
        <!--        &lt;!&ndash;margin div start &ndash;&gt;-->
        <!--        <div style="margin: 23px; ">-->
        <!--            &lt;!&ndash; Table title and add new BTN &ndash;&gt;-->
        <!--            <div class="row">-->
        <!--                <div class="col-md-6 text-center">-->
        <!--                    <span class="float-md-left">-->
        <!--                        <h2>Selected project page</h2>-->
        <!--                    </span>-->
        <!--                </div>-->
        <!--            </div> &lt;!&ndash; END Table title and add new &ndash;&gt;-->
        <!--        </div> &lt;!&ndash;margin div end &ndash;&gt;-->
        <!--    </div>  &lt;!&ndash; END TITLE CARD  &ndash;&gt;-->

        <div class="row" style=" margin-top:48px;">
            <div class="col-lg-8">
                <!-- START big main container -->
                <div class="card" style="border: solid black 0px; border-radius: 12px; margin-bottom: 15px;">
                    <!--margin div start -->
                    <div style="margin: 23px; ">
                        <!-- Table title and add new BTN -->
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <span class="float-md-left">
                                    <h3>Tickets</h3>
                                </span>
                            </div>

                            <div class="col-md-6 text-center">
                                <span class="float-md-right">
                                    <button type="button" class="btn btn-dark " data-toggle="modal"
                                        data-target="#ticketAddModal"
                                        style="border: solid #343a40 0.5px; border-radius: 5px; padding-top: 7px; padding-bottom: 7px; ">
                                        New Ticket
                                    </button>
                                </span>
                            </div>

                            <span class="col-md-6" style="margin-left:5px;">
                                <h6 class="text-monospace"><small>List of tickets assigned to selected project</small>
                                </h6>
                            </span>
                        </div> <!-- END Table title and add new -->

                        <hr style="margin-top:6px;margin-bottom:16px;">
                        <table
                            class="table table-curved overflow-hidden table-hover table align-middle table-responsive table table-borderless"
                            id="ticketsDataTable"
                            style=" border: solid #aaa 1px; border-radius: 5px;  background-color: #ffffff; margin-bottom: 7px;">
                            <thead>

                                <tr class="text-left">
                                    <th style="width: 10%" class="text-center">#</th>
                                    <th style="width: 50%">Ticket Name</th>
                                    <th style="width: 40%">Ticket Description</th>
                                    <th style="width: 10%" class="text-right">Options</th>
                                </tr>
                            </thead>

                            <tr class="text-left" th:each="ticket:${projectTickets}">
                                <td class="text-center" th:text="${ticket.id}" style="width: 2%">id</td>
                                <td th:text="${ticket.title}" style="width: 10%">Ticket Name</td>
                                <td th:text="${ticket.description}" style="width: 35%">Ticket Description</td>

                                <td class="text-right" style="width: 10%;">
                                    <a th:href="@{/tickets/getOne/(Id=${ticket.id})}" class="btn btn-warning btn-sm"
                                        id="selProTicketEditButton">
                                        <i class="far fa-edit" data-toggle="tooltip" title="Edit"></i>
                                    </a>

                                    <a th:href="@{/tickets/getOne/(Id=${ticket.id})}" class="btn btn-secondary btn-sm"
                                        id="selProTicketViewButton">
                                        <i class="fa-solid fa-bars-staggered" data-toggle="tooltip" title="Delete"></i>
                                    </a>

                                    <a th:href="@{/tickets/delete/(Id=${ticket.id})}" class="btn btn-danger btn-sm"
                                        id="selProTicketDeleteButton">
                                        <i class="fas fa-ban" data-toggle="tooltip" title="Delete"></i>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div> <!-- END TICKETS TABLE  col -->

            <!-- smaller MEMBERS second col -->
            <div class="col col-lg-4 col-md-12 col-sm-12 ">
                <div class="card"
                    style="border: solid black 0px; border-radius: 12px; margin-bottom: 15px; min-width: 240px;  ">
                    <div style="margin: 23px; ">

                        <div class="row">
                            <div class="col-md-6 text-center">
                                <span class="float-md-left">
                                    <h3>Members</h3>
                                </span>
                            </div>

                            <div class="col-md-6 text-center">
                                <span class="float-md-right">
                                    <button type="button" class="btn btn-dark " data-toggle="modal"
                                        data-target="#usersAddModal"
                                        style="border: solid #343a40 0.5px; border-radius: 5px; padding-top: 7px; padding-bottom: 7px; ">
                                        New Member
                                    </button>
                                </span>
                            </div>
                            <span style="margin-left:15px; margin-bottom:15px;">
                                <h6 class="text-monospace"><small>Assign members to selected project</small></h6>
                            </span>
                        </div>

                        <table
                            class="table table-curved overflow-hidden table-hover table align-middle table-responsive table table-borderless"
                            id="membersDataTable"
                            style="border: solid #aaa 1px; border-radius: 5px;  background-color: #ffffff;  margin-bottom: 7px;">
                            <thead>
                                <tr class="text-left">
                                    <th style="width: 100%">Name</th>
                                    <th style="width: 100%">Email</th>
                                </tr>
                            </thead>
                            <tr class="text-left" th:each="user:${usersInList}">
                                <td th:text="${user.firstname}" style="width: 75%">Name</td>
                                <td th:text="${user.email}" style="width: 85%">Email</td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div> <!-- END row -->

        <!-- START UNDER main container -->
        <div style="background-color: white; border: solid #e9e9e9 1px;
            border-radius: 12px; margin-bottom: 15px; margin-right: 0px; font-family: 'Varela Round', sans-serif; ">

            <div style="margin: 23px;">
                <!-- Table title and add new BTN -->
                <div class="row">
                    <div class="col-md-6 text-center">
                        <span class="float-md-left">
                            <h3>Selected ticket info</h3>
                        </span>
                    </div>
                </div> <!-- END Table title and add new -->

                <hr style="margin-top:6px;margin-bottom:10px;">

                <form style="margin: 50px;" th:object="${ticket}">
                    <div class="row">
                        <div class="col">
                            <input type="text" id=txtTitle class="form-control" placeholder="Ticket title">
                        </div>
                        <div class="col">
                            <input type="text" id=txtDescription class="form-control" placeholder="Ticket description">
                        </div>

                    </div>

                    <br>

                    <div class="row">
                        <div class="col">
                            <input type="text" id=txtStatus class="form-control" placeholder="Status">
                        </div>
                        <div class="col">
                            <input type="text" id=txtType class="form-control" placeholder="Type">
                        </div>
                        <div class="col">
                            <input type="text" name=priority id=txtPriority class="form-control" placeholder="Priority">
                        </div>
                    </div>
                </form>
            </div>
        </div> <!-- END 2nd main container -->


        <div class="row row-cols-2 g-3">
            <div class="col">
                <div class="card">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img-top"
                        alt="Hollywood Sign on The Hill" />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little longer.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp" class="card-img-top"
                        alt="Palm Springs Road" />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little longer.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/043.webp" class="card-img-top"
                        alt="Los Angeles Skyscrapers" />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top"
                        alt="Skyscrapers" />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            This is a longer card with supporting text below as a natural lead-in to
                            additional content.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- ALL MODALS BELOW -->
        <div class="modal fade" id="projectAddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <form th:action="@{/projects/addNew}" method="post">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">New Project</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="project-add-id" class="col-form-label">Id:</label>
                                <input type="text" class="form-control" id="project-add-id" name="Id">
                            </div>

                            <div class="form-group">
                                <label for="project-add-name" class="col-form-label">Project name:</label>
                                <input type="text" class="form-control" id="project-add-name" name="name">
                            </div>

                            <div class="form-group">
                                <label for="project-add-description" class="col-form-label">Project
                                    Description:</label>
                                <textarea type="text" class="form-control" id="project-add-description" rows="3"
                                    name="description"></textarea>
                            </div>

                            <!--                        <div class="form-group">-->
                            <!--                            <label for="project-add-createdOn" class="col-form-label">Created on:</label>-->
                            <!--                            <input type="text" class="form-control" id="project-add-createdOn" name="createdOn">-->
                            <!--                        </div>-->

                            <!--                        <div class="form-group">-->
                            <!--                            <label for="project-add-finishDate" class="col-form-label">Completed on:</label>-->
                            <!--                            <input type="text" class="form-control" id="project-add-finishDate" name="finishDate">-->
                            <!--                        </div>-->

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add project</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

 <!-- ADD TICKET MODAL -->
        <div class="modal fade" id="ticketAddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <form th:action="@{/tickets/addNewInProject}" method="post">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ticketModalLabel">New Ticket</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="ticket-add-id" class="col-form-label">Id:</label>
                                <input type="text" class="form-control" id="ticket-add-id" name="Id">
                            </div>

                            <div class="form-group">
                                <label for="ticket-add-title" class="col-form-label">Title:</label>
                                <input type="text" class="form-control" id="ticket-add-title" name="title">
                            </div>

                            <div class="form-group">
                                <label for="ticket-add-description" class="col-form-label">Description:</label>
                                <input type="text" class="form-control" id="ticket-add-description" name="description">
                            </div>

                            <div class="form-group">
                                <label>Select project to assign to</label>
                                <select class="custom-select" id="ticket-add-project" name="project">
                                    <option th:each="project:${projectsList}" th:value="${project.id}" th:text="${project.name}"></option>
                                </select>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <label>Select ticket status</label>
                                    <select class="custom-select" id="ticket-add-status" name="status" multiple>
                                        <option th:value="New" th:text="New"></option>
                                        <option th:value="In-Progress" th:text="In-Progress"></option>
                                        <option th:value="Resolved" th:text="Resolved"></option>
                                    </select>
                                </div>

                                <div class="col">
                                    <label>Select ticket type</label>
                                    <select class="custom-select" id="ticket-add-type" name="type" multiple>
                                        <option th:value="Issue" th:text="Issue">Issue</option>
                                        <option th:value="Bug" th:text="Bug">Bug</option>
                                        <option th:value="Feature-request" th:text="Feature-request"></option>
                                    </select>
                                </div>
                            </div>
                            <br>

                            <label>Select ticket priority</label>
                            <select class="custom-select" id="ticket-add-priority" name="priority" multiple>
                                <option th:value="Immediate" th:text="Immediate"></option>
                                <option th:value="High" th:text="High"></option>
                                <option th:value="Medium" th:text="Medium"></option>
                                <option th:value="Low" th:text="Low"></option>
                            </select>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add ticket</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="modal fade" id="projectEditModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
            aria-hidden="true">
            <form th:action="@{/projects/update}" method="put">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editModalLabel">Edit Project</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="project-edit-id" class="col-form-label">Id:</label>
                                <input type="text" class="form-control" id="project-edit-id" name="Id">
                            </div>

                            <div class="form-group">
                                <label for="project-edit-name" class="col-form-label">Project name:</label>
                                <input type="text" class="form-control" id="project-edit-name" name="name">
                            </div>

                            <div class="form-group">
                                <label for="project-edit-description" class="col-form-label">Project
                                    description:</label>
                                <textarea type="text" class="form-control" id="project-edit-description" rows="3"
                                    name="description"></textarea>
                            </div>

                            <!--                        <div class="form-group">-->
                            <!--                            <label for="project-edit-createdOn" class="col-form-label">Created on:</label>-->
                            <!--                            <input type="text" class="form-control" id="project-edit-createdOn" name="createdOn">-->
                            <!--                        </div>-->

                            <!--                        <div class="form-group">-->
                            <!--                            <label for="project-edit-finishDate" class="col-form-label">Finished on:</label>-->
                            <!--                            <input type="text" class="form-control" id="project-edit-finishDate" name="finishDate">-->
                            <!--                        </div>-->

                            <label>Assign available members to project</label>
                            <select class="custom-select" id="listSelect" multiple>
                                <option disabled>Select a ticket</option>
                                <option th:each="ticket : ${ticketsInList}" th:value="${ticket}"
                                    th:text="${ticket.title}"></option>
                            </select>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

       


        <div class="modal" tabindex="-1" role="dialog" id="projectDeleteModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirm delete</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this record?</p>
                    </div>
                    <div class="modal-footer">
                        <a href="" class="btn btn-primary" id="projectDelRef">Confirm delete project</a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div> <!--    main container-->

</body>

</html>