<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Bootstrap CSS, js loaded from base.html, -->
    <div th:replace="~{base :: imports}"></div>

    <!-- Load custom js function file -->
    <script th:src="@{/js/ticketScript.js}"></script>

    <!-- Datatables-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/tableSort.css}">

    <title>Tickets page</title>

    <style>
        table#ticketsListDataTable.dataTable tbody tr.highlight {
            background-color: cornflowerblue !important;
        }
    </style>
</head>

<body>
    <script>
        $(document).ready(function () {

            $('#ticketsListDataTable').DataTable();

            $('#ticketsListDataTable tbody').on('click', 'tr', function () {
                var ticket_title = $(this).find('td:eq(0)').text();
                var ticket_description = $(this).find('td:eq(2)').text();
                var ticket_status = $(this).find('td:eq(3)').text();
                var ticket_type = $(this).find('td:eq(4)').text();
                var ticket_priority = $(this).find('td:eq(5)').text();

                $('#txtTitle').val(ticket_title);
                $('#txtDescription').val(ticket_description);
                $('#txtStatus').val(ticket_status);
                $('#txtType').val(ticket_type);
                $('#txtPriority').val(ticket_priority);

                $('#ticketsListDataTable tbody > tr').removeClass('highlight');
                $(this).addClass('highlight');
            });
        });
    </script>
    <!--add navigation sidebar and top bar-->
    <div th:replace="~{base :: navigation}"></div>
    <script th:replace="~{base :: formValidation}"></script>

    <div role="main" class="align-items-center justify-content-center"
        style="margin-left: 241px; margin-top: 0px; margin-right: 20px;">
        <H2 style="margin-top: 0px;">_</H2>

        <!-- START  TITLE CARD -->
        <div class="card"
            style="border: solid #e6e6e6 1px; border-radius: 12px; margin-top: 48px; margin-bottom: 15px;">
            <!--margin div start -->
            <div style="margin: 23px; ">
                <!-- Table title and add new BTN -->
                <div class="row">
                    <div class="col-md-6 text-center">
                        <span class="float-md-left">
                            <h2>Tickets tab</h2>
                        </span>
                    </div>
                </div> <!-- END Table title and add new -->
            </div>
            <!--margin div end -->
        </div> <!-- END TITLE CARD  -->

        <!-- START big main container -->
        <div class="card" style="border: solid black 0px; border-radius: 12px; margin-bottom: 15px;">
            <!--margin div start -->
            <div style="margin: 23px;">
                <!-- Table title and add new BTN -->
                <div class="row">
                    <div class="col-md-6 text-center">
                        <span class="float-md-left">
                            <h3>Tickets</h3>
                        </span>
                    </div>

                    <div class="col-md-6 text-center">
                        <span class="float-md-right">
                            <button type="button" class="btn btn-dark " data-toggle="modal"
                                data-target="#ticketAddModal"
                                style="border: solid #343a40 0.5px; border-radius: 5px; padding-top: 7px; padding-bottom: 7px; ">
                                <i class="fa-solid fa-square-plus" data-toggle="tooltip" title="Add"
                                    style="font-size:20px;"></i> New Ticket
                            </button>
                        </span>
                    </div>

                    <span class="col-md-6" style="margin-left:2px;">
                        <h6 class="text-monospace"><small>List of all tickets from all projects</small></h6>

                    </span>
                </div> <!-- END Table title and add new -->

                <hr style="margin-top:6px;margin-bottom:10px;">

                <table class="table table-curved overflow-hidden table-hover table align-middle table-responsive"
                    id="ticketsListDataTable"
                    style=" border: solid #aaa 1px; border-radius: 5px;  background-color: #ffffff; margin-bottom: 7px;">
                    <thead class="thead-dark">
                        <tr class="text-left">
                            <th style="width: 10%">Name</th>
                            <th style="width: 15%">Assigned to project</th>
                            <th style="width: 45%">Description</th>
                            <th class="text-center" style="width: 10%">Status</th>
                            <th class="text-center" style="width: 10%">Type</th>
                            <th class="text-center" style="width: 10%">Priority</th>

                            <th class="text-right" style="width: 10%">Options</th>
                        </tr>
                    </thead>

                    <tr class="text-left" th:each="ticket:${tickets}">
                        <td style="width: 10%" th:text="${ticket.title}"></td>
                        <td style="width: 12%" th:value="${ticket.project}" th:text="${ticket.project.name}"></td>
                        <td style="width: 35%" th:text="${ticket.description}"></td>
                        <td class="text-center" style="width: 9%" th:text="${ticket.status}"></td>
                        <td class="text-center" style="width: 9%" th:text="${ticket.type}"></td>
                        <td class="text-center" style="width: 9%" th:text="${ticket.priority}"></td>

                        <td style="width: 12%" class="text-right">

                            <a th:href="@{/tickets/edit/(Id=${ticket.Id})}" class="btn btn-warning btn-sm"
                                id="ticketEditButton">
                                <i class="far fa-edit" data-toggle="tooltip" title="Edit"></i>
                            </a>

                            <a th:href="@{/tickets/delete/(Id=${ticket.Id})}" class="btn btn-danger btn-sm"
                                id="ticketsDeleteButton">
                                <i class="fas fa-ban" data-toggle="tooltip" title="Delete"></i>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <!--margin div end -->
        </div> <!-- END big main container -->

        <!-- START big main container -->
        <div class="card" style="border: solid black 0px; border-radius: 12px; margin-bottom: 15px;">
            <!--margin div start -->
            <div style="margin: 23px;">
                <!-- Table title and add new BTN -->
                <div class="row">
                    <div class="col-md-6 text-center">
                        <span class="float-md-left">
                            <h3>Selected ticket info</h3>
                        </span>
                    </div>
                </div> <!-- END Table title and add new -->

                <hr style="margin-top:6px;margin-bottom:10px;">

                <form style="margin: 50px;">
                    <div class="row">
                        <div class="col">
                            <label>Ticket Title</label>
                            <input type="text" id=txtTitle class="form-control" name="title" placeholder="Ticket title">
                        </div>
                        <div class="col">
                            <label>Ticket Description</label>
                            <input type="text" id=txtDescription class="form-control" placeholder="Ticket description">
                        </div>

                    </div>

                    <br>

                    <div class="row">
                        <div class="col">
                            <label>Ticket Status</label>
                            <input type="text" id=txtStatus name="status" class="form-control" placeholder="Status">
                        </div>
                        <div class="col">
                            <label>Ticket Type</label>
                            <input type="text" id=txtType name="type" class="form-control" placeholder="Type">
                        </div>
                        <div class="col">
                            <label>Ticket Priority</label>
                            <input type="text" name=priority id=txtPriority class="form-control" placeholder="Priority">
                        </div>
                    </div>
                </form>
            </div>
            <!--margin div end -->
        </div> <!-- END big main container -->


        <!-- MODALS -->
        <div class="modal fade" id="ticketAddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <form th:action="@{/tickets/addNew}" class="needs-validation" novalidate method="post">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">New Ticket</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">


                            <div class="form-group">
                                <label for="ticket-add-title" class="col-form-label">Title:</label>
                                <input type="text" class="form-control" id="ticket-add-title" name="title" required>
                                <div class="invalid-feedback">Please add a ticket title.</div>

                            </div>

                            <div class="form-group">
                                <label for="ticket-add-description" class="col-form-label">Description:</label>
                                <input type="text" class="form-control" id="ticket-add-description" name="description" required>
                                <div class="invalid-feedback">Please add a ticket description.</div>
                            </div>

                            <div class="form-group">
                                <label>Select project to assign to</label>
                                <select class="custom-select" id="ticket-add-project" name="project">
                                    <option th:each="project:${projects}" th:value="${project.id}"
                                        th:text="${project.name}"></option>
                                </select>
                                <div class="invalid-feedback">Please select an option.</div>

                            </div>

                            <div class="row">
                                <div class="col">
                                    <label>Select ticket status</label>
                                    <select class="custom-select" id="ticket-add-status" name="status" required>
                                        <option th:value="New" th:text="New"></option>
                                        <option th:value="In-Progress" th:text="In-Progress"></option>
                                        <option th:value="Resolved" th:text="Resolved"></option>
                                    </select>
                                    <div class="invalid-feedback">Please select an option.</div>
                                </div>

                                <div class="col">
                                    <label>Select ticket type</label>
                                    <select class="custom-select" id="ticket-add-type" name="type" required>
                                        <option th:value="Issue" th:text="Issue">Issue</option>
                                        <option th:value="Bug" th:text="Bug">Bug</option>
                                        <option th:value="Feature-request" th:text="Feature-request"></option>
                                    </select>
                                    <div class="invalid-feedback">Please select an option.</div>
                                </div>
                            </div>
                            <br>

                            <label>Select ticket priority</label>
                            <select class="custom-select" id="ticket-add-priority" name="priority" required>
                                <option th:value="Immediate" th:text="Immediate"></option>
                                <option th:value="High" th:text="High"></option>
                                <option th:value="Medium" th:text="Medium"></option>
                                <option th:value="Low" th:text="Low"></option>
                                <div class="invalid-feedback">Please select an option.</div>
                            </select>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add ticket</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="modal fade" id="ticketEditModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
            aria-hidden="true">
            <form th:action="@{/tickets/update}" method="put">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editModalLabel">Edit Ticket</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="ticket-edit-id" class="col-form-label">Id:</label>
                                <input type="text" class="form-control" id="ticket-edit-id" name="Id">
                            </div>

                            <div class="form-group">
                                <label for="ticket-edit-title" class="col-form-label">Ticket title:</label>
                                <input type="text" class="form-control" id="ticket-edit-title" name="title">
                            </div>

                            <div class="form-group">
                                <label for="ticket-edit-description" class="col-form-label">Ticket
                                    description:</label>
                                <input type="text" class="form-control" id="ticket-edit-description" name="description">
                            </div>

                            <div class="row">
                                <div class="col">
                                    <label>Select ticket status</label>
                                    <select class="custom-select" id="ticket-edit-status" name="status" multiple>
                                        <option th:text="New">New</option>
                                        <option>In progress</option>
                                        <option th:value="Resolved" th:text="Resolved"></option>

                                    </select>
                                </div>

                                <div class="col">
                                    <label>Select ticket type</label>
                                    <select class="custom-select" id="ticket-edit-type" name="type" multiple>
                                        <option th:text="Issue">Issue</option>
                                        <option>Bug</option>
                                        <option>Feature request</option>

                                    </select>
                                </div>
                            </div>
                            <br>
                            <label>Select ticket priority</label>
                            <select class="custom-select" id="ticket-edit-priority" name="priority" multiple>
                                <option th:text="Immediate">Immediate</option>
                                <option>High</option>
                                <option th:value="Low" th:text="Low"></option>
                                <option>Medium</option>
                            </select>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>


        <!-- Modal HTML -->
        <div id="ticketDeleteModal1" class="modal fade">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                    <div class="modal-header flex-column">
                        <div class="icon-box">
                            <i class="material-icons">&#xE5CD;</i>
                        </div>
                        <h4 class="modal-title w-100">Are you sure?</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Do you really want to delete these records? This process cannot be undone.</p>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            style="color: white;">Cancel
                        </button>
                        <a href="" class="btn btn-danger btn-d" id="ticketDelRef1" style="color: white;  ">Confirm
                            delete</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

<!--<tr class="text-center">-->
<!--    <th>#</th>-->
<!--    <th>First name</th>-->
<!--    <th>Last name</th>-->
<!--    <th>Email</th>-->
<!--    <th>Phone</th>-->
<!--    <th>Assigned tickets</th>-->
<!--    <th class="text-right">Options</th>-->

<!--</tr>-->
<!--</thead>-->

<!--<tr class="text-center" th:each="user:${users}">-->
<!--    <td th:text="${user.id}" style="width: 1%">id</td>-->
<!--    <td th:text="${user.firstname}" style="width: 15%">First Name</td>-->
<!--    <td th:text="${user.lastname}" style="width: 15%">Last Name</td>-->
<!--    <td th:text="${user.email}">Email</td>-->
<!--    <td th:text="${user.phoneNumber}">Phone</td>-->
<!--    <td th:text="${user.assignedTickets}">Assigned tickets #</td>-->


<!--    <td class="text-right" style="width: 9%;">-->
<!--        <a th:href="@{/users/getOne/(Id=${user.Id})}" class="btn btn-warning btn-sm"-->
<!--           id="usersEditButton">-->
<!--            <i class="far fa-edit" data-toggle="tooltip" title="Edit"></i>-->
<!--        </a>-->

<!--        <a th:href="@{/users/delete/(Id=${user.Id})}" class="btn btn-secondary btn-sm"-->
<!--           id="usersViewButton">-->
<!--            <i class="fas fa-eye" data-toggle="tooltip" title="Delete"></i>-->
<!--        </a>-->

<!--        <a th:href="@{/users/delete/(Id=${user.Id})}" class="btn btn-danger btn-sm"-->
<!--           id="usersDeleteButton">-->
<!--            <i class="fas fa-ban" data-toggle="tooltip" title="Delete"></i>-->
<!--        </a>-->
<!--    </td>-->
<!--</tr>-->