<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Bootstrap CSS, js loaded from base.html, -->
    <div th:replace="~{base :: imports}"></div>

    <!-- Load custom js function file -->
    <script th:src="@{/js/ticketScript.js}"></script>

    <!-- Datatables-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/tableSort.css}">

    <title>Tickets page</title>
</head>

<body>
<script>
    $(document).ready(function () {
        $('#ticketsListDataTable').DataTable();
    });

</script>
<!--add navigation sidebar and top bar-->
<div th:replace="~{base :: navigation}"></div>

<div role="main" class="align-items-center justify-content-center"
     style="margin-left: 241px; margin-top: 0px; margin-right: 20px;">
    <H2 style="margin-top: 0px;">_</H2>

    <!-- START  TITLE CARD -->
    <div class="card"
         style="border: solid #e6e6e6 1px; border-radius: 12px; margin-top: 48px; margin-bottom: 15px;">
        <!--margin div start -->
        <div style="margin: 23px; ">
            <!-- Table title and add new BTN -->
            <div class="row">
                <div class="col-md-6 text-center">
                        <span class="float-md-left">
                            <h2>Tickets tab</h2>
                        </span>
                </div>
            </div> <!-- END Table title and add new -->
        </div> <!--margin div end -->
    </div> <!-- END TITLE CARD  -->

    <!-- START big main container -->
    <div class="card" style="border: solid black 0px; border-radius: 12px; margin-bottom: 15px;">
        <!--margin div start -->
        <div style="margin: 23px;">
            <!-- Table title and add new BTN -->
            <div class="row">
                <div class="col-md-6 text-center">
                        <span class="float-md-left">
                            <h3>Tickets</h3>
                        </span>
                </div>

                <div class="col-md-6 text-center">
                        <span class="float-md-right">
                            <button type="button" class="btn btn-dark " data-toggle="modal"
                                    data-target="#ticketAddModal"
                                    style="border: solid #343a40 0.5px; border-radius: 5px; padding-top: 7px; padding-bottom: 7px; ">
                                <i class="fa-solid fa-square-plus" data-toggle="tooltip" title="Edit"
                                   style="font-size:20px;"></i> New Ticket
                            </button>
                        </span>
                </div>

                <span class="col-md-6" style="margin-left:2px;">
                        <h6 class="text-monospace"><small>List of all tickets from all projects</small></h6>

                    </span>
            </div> <!-- END Table title and add new -->

            <hr style="margin-top:6px;margin-bottom:10px;">

            <table class="table table-curved overflow-hidden table-hover table align-middle table-responsive"
                   id="ticketsListDataTable"
                   style=" border: solid #aaa 1px; border-radius: 5px;  background-color: #ffffff; margin-bottom: 7px;">
                <thead class="thead-dark">
                <tr class="text-left">
                    <th class="text-left">#</th>
                    <th style="width: 30%">Name</th>
                    <th style="width: 30%">Description</th>
                    <th style="width: 10%">Status</th>
                    <th style="width: 10%">Type</th>
                    <th style="width: 10%">Priority</th>
                    <th style="width: 10%" class="text-right">Options</th>

                </tr>
                </thead>

                <tr class="text-left" th:each="ticket:${tickets}">
                    <td th:text="${ticket.id}" style="width: 2%">id</td>
                    <td th:text="${ticket.title}" style="width: 12%">Title</td>
                    <td th:text="${ticket.description}" style="width: 35%">Description</td>
                    <td th:text="${ticket.status}" style="width: 8%">Status</td>
                    <td th:text="${ticket.type}" style="width: 8%">Type</td>
                    <td th:text="${ticket.priority}" style="width: 8%">Priority</td>

                    <td class="text-right" style="width: 9%;">

                        <a th:href="@{/tickets/delete/(Id=${ticket.Id})}" class="btn btn-secondary btn-sm"
                           id="ticketsViewButton">
                            <i class="fa-solid fa-bars" data-toggle="tooltip" title="Delete"></i>
                        </a>

                        <a th:href="@{/tickets/getOne/(Id=${ticket.Id})}" class="btn btn-warning btn-sm"
                           id="ticketsEditButton">
                            <i class="far fa-edit" data-toggle="tooltip" title="Edit"></i>
                        </a>

                        <a th:href="@{/tickets/delete/(Id=${ticket.Id})}" class="btn btn-danger btn-sm"
                           id="ticketsDeleteButton">
                            <i class="fas fa-ban" data-toggle="tooltip" title="Delete"></i>
                        </a>
                    </td>
                </tr>
            </table>
        </div> <!--margin div end -->
    </div> <!-- END big main container -->

    <div class="modal fade" id="ticketAddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <form th:action="@{/tickets/addNew}" method="post">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">New Ticket</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="ticket-add-id" class="col-form-label">Id:</label>
                            <input type="text" class="form-control" id="ticket-add-id" name="Id">
                        </div>

                        <div class="form-group">
                            <label for="ticket-add-title" class="col-form-label">Title:</label>
                            <input type="text" class="form-control" id="ticket-add-title" name="title">
                        </div>

                        <div class="form-group">
                            <label for="ticket-add-description" class="col-form-label">Description:</label>
                            <input type="text" class="form-control" id="ticket-add-description" name="description">
                        </div>
                        <!--                            th:each="project:${projects}"
                        <option th:text="${project.name}"></option>
                        -->
                        <div class="form-group">
                            <label>Select project to assign to</label>
                            <select class="custom-select" id="ticket-add-project" name="project">
                                <option th:each="project:${projects}" th:text="${project.id}"></option>

                            </select>
                            <!--                                <label for="ticket-add-project" class="col-form-label">Project:</label>-->
                            <!--                                <input type="text" class="form-control" id="ticket-add-project" name="project">-->
                        </div>

                        <div class="row">
                            <div class="col">
                                <label>Select ticket status</label>
                                <select class="custom-select" id="ticket-add-status" name="status" multiple>
                                    <option th:text="New">New</option>
                                    <option>In progress</option>
                                    <option th:value="Resolved" th:text="Resolved"></option>

                                </select>
                            </div>

                            <div class="col">
                                <label>Select ticket type</label>
                                <select class="custom-select" id="ticket-add-type" name="type" multiple>
                                    <option th:text="Issue">Issue</option>
                                    <option>Bug</option>
                                    <option>Feature request</option>

                                </select>
                            </div>
                        </div>
                        <br>
                        <label>Select ticket priority</label>
                        <select class="custom-select" id="ticket-add-priority" name="priority" multiple>
                            <option th:text="Immediate">Immediate</option>
                            <option>High</option>
                            <option th:value="Low" th:text="Low"></option>
                            <option>Medium</option>
                        </select>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add ticket</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal fade" id="ticketEditModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
         aria-hidden="true">
        <form th:action="@{/tickets/update}" method="put">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel">Edit Ticket</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="ticket-edit-id" class="col-form-label">Id:</label>
                            <input type="text" class="form-control" id="ticket-edit-id" name="Id">
                        </div>

                        <div class="form-group">
                            <label for="ticket-edit-title" class="col-form-label">Ticket title:</label>
                            <input type="text" class="form-control" id="ticket-edit-title" name="title">
                        </div>

                        <div class="form-group">
                            <label for="ticket-edit-description" class="col-form-label">Ticket
                                description:</label>
                            <input type="text" class="form-control" id="ticket-edit-description" name="description">
                        </div>

                        <div class="row">
                            <div class="col">
                                <label>Select ticket status</label>
                                <select class="custom-select" id="ticket-edit-status" name="status" multiple>
                                    <option th:text="New">New</option>
                                    <option>In progress</option>
                                    <option th:value="Resolved" th:text="Resolved"></option>

                                </select>
                            </div>

                            <div class="col">
                                <label>Select ticket type</label>
                                <select class="custom-select" id="ticket-edit-type" name="type" multiple>
                                    <option th:text="Issue">Issue</option>
                                    <option>Bug</option>
                                    <option>Feature request</option>

                                </select>
                            </div>
                        </div>
                        <br>
                        <label>Select ticket priority</label>
                        <select class="custom-select" id="ticket-edit-priority" name="priority" multiple>
                            <option th:text="Immediate">Immediate</option>
                            <option>High</option>
                            <option th:value="Low" th:text="Low"></option>
                            <option>Medium</option>
                        </select>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <!-- Modal HTML -->
    <div id="ticketDeleteModal1" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header flex-column">
                    <div class="icon-box">
                        <i class="material-icons">&#xE5CD;</i>
                    </div>
                    <h4 class="modal-title w-100">Are you sure?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Do you really want to delete these records? This process cannot be undone.</p>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            style="color: white;">Cancel
                    </button>
                    <a href="" class="btn btn-danger btn-d" id="ticketDelRef1" style="color: white;  ">Confirm
                        delete</a>

                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>

<!--<tr class="text-center">-->
<!--    <th>#</th>-->
<!--    <th>First name</th>-->
<!--    <th>Last name</th>-->
<!--    <th>Email</th>-->
<!--    <th>Phone</th>-->
<!--    <th>Assigned tickets</th>-->
<!--    <th class="text-right">Options</th>-->

<!--</tr>-->
<!--</thead>-->

<!--<tr class="text-center" th:each="user:${users}">-->
<!--    <td th:text="${user.id}" style="width: 1%">id</td>-->
<!--    <td th:text="${user.firstname}" style="width: 15%">First Name</td>-->
<!--    <td th:text="${user.lastname}" style="width: 15%">Last Name</td>-->
<!--    <td th:text="${user.email}">Email</td>-->
<!--    <td th:text="${user.phoneNumber}">Phone</td>-->
<!--    <td th:text="${user.assignedTickets}">Assigned tickets #</td>-->


<!--    <td class="text-right" style="width: 9%;">-->
<!--        <a th:href="@{/users/getOne/(Id=${user.Id})}" class="btn btn-warning btn-sm"-->
<!--           id="usersEditButton">-->
<!--            <i class="far fa-edit" data-toggle="tooltip" title="Edit"></i>-->
<!--        </a>-->

<!--        <a th:href="@{/users/delete/(Id=${user.Id})}" class="btn btn-secondary btn-sm"-->
<!--           id="usersViewButton">-->
<!--            <i class="fas fa-eye" data-toggle="tooltip" title="Delete"></i>-->
<!--        </a>-->

<!--        <a th:href="@{/users/delete/(Id=${user.Id})}" class="btn btn-danger btn-sm"-->
<!--           id="usersDeleteButton">-->
<!--            <i class="fas fa-ban" data-toggle="tooltip" title="Delete"></i>-->
<!--        </a>-->
<!--    </td>-->
<!--</tr>-->