<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Bootstrap CSS, js loaded from base.html, -->
    <div th:replace="~{base :: imports}"></div>

    <!-- Load custom js function file -->
    <script th:src="@{/js/userScript.js}"></script>

    <!-- Datatables-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/tableSort.css}">

    <title>Users page</title>
</head>

<body>
<script>
        $(document).ready(function () {
            $('#usersListDataTable').DataTable();
        });

</script>
<!--add navigation sidebar and top bar-->
<div th:replace="~{base :: navigation}"></div>

<div role="main" class="align-items-center justify-content-center"
     style="margin-left: 241px; margin-top: 0px; margin-right: 20px;">
    <H2 style="margin-top: 0px;">_</H2>

    <!-- START  TITLE CARD -->
    <div class="card"
         style="border: solid #e6e6e6 1px; border-radius: 12px; margin-top: 48px; margin-bottom: 15px;">
        <!--margin div start -->
        <div style="margin: 23px; ">
            <!-- Table title and add new BTN -->
            <div class="row">
                <div class="col-md-6 text-center">
                        <span class="float-md-left">
                            <h2>Users tab</h2>
                        </span>
                </div>
            </div> <!-- END Table title and add new -->
        </div>
        <!--margin div end -->
    </div> <!-- END TITLE CARD  -->

    <!-- START big main container -->
    <div class="card" style="border: solid black 0px; border-radius: 12px; margin-bottom: 15px;">
        <!--margin div start -->
        <div style="margin: 23px;">
            <!-- Table title and add new BTN -->
            <div class="row">
                <div class="col-md-6 text-center">
                        <span class="float-md-left">
                            <h3>Users</h3>
                        </span>
                </div>

                <div class="col-md-6 text-center">
                        <span class="float-md-right">
                            <button type="button" class="btn btn-dark " data-toggle="modal"
                                    data-target="#userAddModal"
                                    style="border: solid #343a40 0.5px; border-radius: 5px; padding-top: 7px; padding-bottom: 7px; ">
                                <i class="fa-solid fa-square-plus" data-toggle="tooltip" title="Edit"
                                   style="font-size:20px;"></i> New User
                            </button>
                        </span>
                </div>

                <span class="col-md-6" style="margin-left:2px;">
                        <h6 class="text-monospace"><small>List of all registered users</small></h6>

                    </span>
            </div> <!-- END Table title and add new -->

            <hr style="margin-top:6px;margin-bottom:10px;">

            <table class="table table-curved overflow-hidden table-hover table align-middle table-responsive"
                   id="usersListDataTable"
                   style=" border: solid #aaa 1px; border-radius: 5px;  background-color: #ffffff; margin-bottom: 7px;">
                <thead class="thead-dark">
                <tr class="text-left">
                    <th class="text-left">#</th>
                    <th style="width: 25%">First name</th>
                    <th style="width: 25%">Last name</th>
                    <th style="width: 25%">Email</th>
                    <th style="width: 10%">Phone</th>
                    <th>Assigned tickets</th>
                    <th class="text-right">Options</th>

                </tr>
                </thead>

                <tr class="text-left" th:each="user:${users}">
                    <td th:text="${user.id}" style="width: 1%">id</td>
                    <td th:text="${user.firstname}" style="width: 15%">First Name</td>
                    <td th:text="${user.lastname}" style="width: 15%">Last Name</td>
                    <td th:text="${user.email}">Email</td>
                    <td th:text="${user.phoneNumber}">Phone</td>
                    <td th:text="${user.assignedTickets}">Assigned tickets #</td>

                    <td class="text-right" style="width: 9%;">

                        <a th:href="@{/users/getOne/(Id=${user.Id})}" class="btn btn-secondary btn-sm"
                           id="ticketsViewButton">
                            <i class="fa-solid fa-bars" data-toggle="tooltip" title="Delete"></i>
                        </a>

                        <a th:href="@{/users/delete/(Id=${user.Id})}" class="btn btn-warning btn-sm"
                           id="ticketsEditButton">
                            <i class="far fa-edit" data-toggle="tooltip" title="Edit"></i>
                        </a>

                        <a th:href="@{/users/delete/(Id=${user.Id})}" class="btn btn-danger btn-sm"
                           id="ticketsDeleteButton">
                            <i class="fas fa-ban" data-toggle="tooltip" title="Delete"></i>
                        </a>
                    </td>
                </tr>
            </table>
        </div>  <!--margin div end -->
    </div> <!-- END big main container -->

    <div class="modal fade" id="userAddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <form th:action="@{/users/addNew}" method="post">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">New User</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                            <div class="mb-3">
                                <label for="id" class="col-form-label">Id:</label>
                                <input type="text" class="form-control" id="id" name="id">
                            </div>

                            <div class="mb-3">
                                <label for="first-name" class="col-form-label">First name:</label>
                                <input type="text" class="form-control" id="first-name" name="firstname">
                            </div>

                            <div class="mb-3">
                                <label for="last-name" class="col-form-label">Last name:</label>
                                <input type="text" class="form-control" id="last-name" name="lastname">
                            </div>

                            <div class="mb-3">
                                <label for="email" class="col-form-label">Email:</label>
                                <input type="text" class="form-control" id="email" name="email">
                            </div>

                            <div class="mb-3">
                                <label for="phone" class="col-form-label">Phone:</label>
                                <input type="text" class="form-control" id="phone" name="phoneNumber">
                            </div>

                            <div class="mb-3">
                                <label for="assignedUsers" class="col-form-label">Assigned Users:</label>
                                <input type="text" class="form-control" id="assignedUsers" name="assignedUsers">
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add user</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>


    <div class="modal fade" id="userEditModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
         aria-hidden="true">
        <form th:action="@{/users/update}" method="put">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel">Edit Ticket</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                            <div class="mb-3">
                                <label for="user-edit-id" class="col-form-label">Id:</label>
                                <input type="text" class="form-control" id="user-edit-id" name="id">
                            </div>

                            <div class="mb-3">
                                <label for="user-edit-first-name" class="col-form-label">First name:</label>
                                <input type="text" class="form-control" id="user-edit-first-name" name="firstname">
                            </div>

                            <div class="mb-3">
                                <label for="user-edit-last-name" class="col-form-label">Last name:</label>
                                <input type="text" class="form-control" id="user-edit-last-name" name="lastname">
                            </div>

                            <div class="mb-3">
                                <label for="user-edit-email" class="col-form-label">Email:</label>
                                <input type="text" class="form-control" id="user-edit-email" name="email">
                            </div>

                            <div class="mb-3">
                                <label for="user-edit-phone" class="col-form-label">Phone:</label>
                                <input type="text" class="form-control" id="user-edit-phone" name="phoneNumber">
                            </div>

                        <div class="mb-3">
                            <label for="user-edit-assignedTickets" class="col-form-label">Assigned
                                Users:</label>
                            <input type="text" class="form-control" id="user-edit-assignedTickets"
                                   name="assignedTickets">
                        </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>


        <!-- Modal HTML -->
        <div id="userDeleteModal1" class="modal fade">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                    <div class="modal-header flex-column">
                        <div class="icon-box">
                            <i class="material-icons">&#xE5CD;</i>
                        </div>
                        <h4 class="modal-title w-100">Are you sure?</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Do you really want to delete these records? This process cannot be undone.</p>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                style="color: white;">Cancel
                        </button>
                        <a href="" class="btn btn-danger btn-d" id="userDelRef1" style="color: white;  ">Confirm
                            delete</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>