<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Bootstrap CSS, js loaded from base.html, -->
    <div th:replace="~{base :: imports}"></div>

    <!-- Load custom js function file -->


    <title>User edit page</title>
    <!--    <h th:text="*{ticket.name}"></h>-->
</head>

<body>

    <!--add navigation sidebar and top bar-->
    <div th:replace="~{base :: navigation}"></div>

    <div role="main" class="align-items-center justify-content-center"
        style="margin-left: 241px; margin-top: 0px; margin-right: 20px; margin-bottom: 280px;">
        <H2 style="margin-top: 0px;">_</H2>
        <!-- START  TITLE CARD -->

        <div class="container">
            <div class="col-lg-9 col-md-8 col-sm-9 container justify-content-center card"
                style="margin-top: 188px; border solid #e6e6e6 1px; border-radius: 12px;">
                <h3 class="text-center" style="margin-top: 40px">Edit User Info</h3>
                <div class="card-body">
                    <form th:action="@{/users/update}" th:object="${user}" method="put">

                        <div class="form-group">
                            <label>First name:</label>
                            <input type="text" class="form-control" th:field="*{firstname}" name="firstname">
                        </div>

                        <div class="form-group">
                            <label>Last name:</label>
                            <input type="text" class="form-control" th:field="*{lastname}" name="lastname">
                        </div>

                        <div class="form-group">
                            <label>Email:</label>
                            <input type="text" class="form-control" th:field="*{email}" name="email">
                        </div>

                        <div class="form-group">
                            <label>Phone number:</label>
                            <input type="text" class="form-control" th:field="*{phoneNumber}" name="phoneNumber">
                        </div>

                        <div class="box-footer" style="margin-top:20px;">
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                        <input type="hidden" id="user-edit-id" th:field="*{Id}" />

                    </form>
                </div>
            </div>
        </div>
    </div>


    <h1>test</h1>

</body>

</html>